@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');

.incryptos{
    cursor: pointer;
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient(-60deg, #3a6173 0%, #16222a 100%) !important;
}

.incryptos__certificate{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.incryptos__cert-number{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: white;
}

.p-pink{
    color:#ee5586;
}
